

nav.navbar.navbar-default

    .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav")
            span.icon-bar
            span.icon-bar
            span.icon-bar

    #main-nav.collapse.navbar-collapse.navbar-inverse
        ul.nav.navbar-nav.pull-right
            li(class=(title === 'Home' ? 'active' : ''))
                a(href="/") Home

            li(class=(title === 'Items' ? 'active' : ''))
                a(href="/Dashboard") Dashboard
            if (!user)
                li(class=(title === 'Login' ? 'active' : ''))
                    a(href="/login") Login
                li(class=(title === 'Register' ? 'active' : ''))
                    a(href="/register") Register
            if (user)
                li
                    a(class="dropdown-toggle" data-toggle="dropdown" href="#")= user.username
                        .caret
                    ul(class="dropdown-menu" role="menu")
                        li: a(href="/logout") Logout