extends layout

block content
    .container
        .row
            .col-sm-12
                h1 Lists all Tickets

                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Title
                            th Details
                            th Status
                            th Action
                    tbody
                        each ticket in tickets
                            tr
                                td= ticket.title
                                td= ticket.details[0].description
                                td= ticket.status
                                td: a.btn.btn-success(href="/ticket/#{ticket.id}") View
