extends layout

block content
    .container
        .row
            .col-sm-12
                h1 Lists all Tickets

                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Title
                            th Details
                            th Status
                            th Action
                    tbody
                        each item in items
                            tr
                                td= item.title
                                td= item.details[0].description
                                td= item.status
                                td: a.btn.btn-success(href="/ticket/#{item.id}") View
