extends layout

block content
    .container
        .row
            .col-sm-6
                .well
                    h1 Register Page
                    p.lead sign up for awesome here
                    form(role='form', action="/register",method="post")

                        .form-group
                            input.form-control(type='text', name="username", placeholder='Enter Username')
                        .form-group
                            input.form-control(type='password', name="password", placeholder='Password')
                        button.btn.btn-default(type='submit') Submit

                    h4= info
