extends layout

block content
    .container
        .row
            .col-sm-8
                h1 Ticket #{ticket.title}

                .status= ticket.status

                each detail in ticket.details
                    .ticket-details(class=(detail.admin === true ? 'admin' : ''))= detail.description

        .row
            .col-sm-6
                h2 Add extra details

                    form(action="/ticket/#{ticket.id}" method="post")

                        .form-group
                            textarea(rows="5" placeholder="item details" name="details" class="form-control")
                        .form-group
                            input(type="submit", value="submit" class=" btn btn-primary")

